body {
    background-color:lightcyan;
    font-family: Verdana, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    
    width: 400px;
    background-color: rgb(143, 143, 246);
}

main {

    width: 400px;
    background-color: rgb(221, 250, 193);
}

#BananaID {

    color: rgb(165, 165, 15);
}

.MelonClass{

    color: Green;
}